body{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}
#logo{
    width: 100px;
    height: 100px;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 3px 10px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
}
.searchInput::placeholder{
    color: lightgray;

}
.searchIcon{
    width: 50px;
    height: 50px;
}
.newDesigns{
    font-size: 20px;
    border-bottom: 2px solid red;
    cursor: pointer;
}
nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
}
.sliderImg{
    width: 500px;
    height: 650px;
}