body{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}
#logo{
    width: 100px;
    height: 100px;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 3px 10px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
}
.searchInput::placeholder{
    color: lightgray;

}
.searchIcon{
    width: 50px;
    height: 50px;
}
.newDesigns{
    font-size: 20px;
    border-bottom: 2px solid red;
    cursor: pointer;
}
nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
}
.sliderImg1{
    width: 500px;
    height: 600px;
    z-index: 1;
    
}
.sliderImg2{
    width: 500px;
    height: 500px;
    z-index: 1;
    
}
.sliderImg3{
    width: 400px;
    height: 650px;
    z-index: 1;
    
}
.slider{
    background-image: url(./img/D1.png);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

}
.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderBg{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    background-color: gold;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 20%;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    z-index: 1;
}
.sliderPrice{
    position: absolute;
    top: 10%;
    left: 20%;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    border: 1px solid gray;
    z-index: 1;
}
.buybutton{
    position: absolute;
    top: 50%;
    right: 20%;
    color: white;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid gray;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}
.buybutton:hover{
    background-color: white;
    color: black;
}
.sliderItem:nth-child(1) .sliderBg{
    background-color: rgb(179, 101, 24);

}.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(179, 24, 45);

}.sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(224, 199, 126);

}.sliderItem:nth-child(1) .sliderPrice{
    color: rgb(179, 101, 24);

}.sliderItem:nth-child(2) .sliderPrice{
    color: rgb(179, 24, 45);

}.sliderItem:nth-child(3) .sliderPrice{
    color: rgb(224, 199, 126);

}
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 10;
}
.featuredDesc{
    color: gray;
    width: 100%;
    height: 100px;
}
.featureIcon1{
    width: 50px;
    height: 30px;
}
.featureIcon2{
    width: 40px;
    height: 40px;
}
.featureIcon3{
    width: 35px;
    height: 35px;
}
.productImg{
    width: 500px;
    height: 600px;
    margin-left: 300px;
}
.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    
    clip-path: polygon(0 0, 75% 0, 100% 100%, 24% 100%);
    
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;  
}
.productTitle{
    font-size: 75px;
    font-weight: 900;
}
.productDesc{
    font-style: 24px;
    color: gray;
}
.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}
.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: green;
    margin-right: 5px;
    cursor: pointer;
}
.color:last-child{
    background-color: blue;
}
.size{
    padding: 5px 10px;
    border: 1px solid gray;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
}
.productButton{
    float: right 50px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.productButton:hover{
    background-color: white;
    color: black;
}
